/* Group feed suggestion slider section starts */
.group__suggestionSliderSection .slick-prev, 
.group__suggestionSliderSection .slick-next {
    top: 95%;
    z-index: 5;
}

.group__suggestionSliderSection .slick-prev {
    left: 77%;
}

.group__suggestionSliderSection .slick-next {
    right: 18px;
}

.group__feedSuggestionSliderCard .slick-slide {
    margin: 0 !important;
}

.group__suggestionSliderSection .card {
    margin-bottom: 2.3rem;
}
/* Group feed suggestion slider section ends */

/* Group feed suggestion slider image section starts */
.group__suggestionImg {
    width: 100%;
    height: 12rem;
    position: relative;
}

.group__suggestionImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group__suggestionCloseIcon {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 1.7rem !important;
    height: 1.7rem !important;
    z-index: 5;
    color: var(--white-primary) !important;
}
/* Group feed suggestion slider image section ends */

/* Group feed suggestion context section starts */
.group__suggestionContext > a:hover {
    text-decoration: underline !important;
}

.group__suggestionContext > a > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

/* Group feed suggestion join button section starts */
.group__suggestedJoinBtn {
    display: flex;
    margin-bottom: 1rem;
}

.group__suggestedJoinBtn > button {
    background-color: var(--blue-primary) !important;
    color: var(--white-primary) !important;
    flex: 1;
}
/* Group feed suggestion join button section ends */
/* Group feed suggestion context section ends */

@media (max-width: 1500px) {
    .group__suggestionSliderSection .slick-prev {
        left: 72%;
    }
}