 /* main section  */
 
 .main {
     display: grid;
     grid-template-columns: [first] 26% [line2] auto [end];
     padding-left: 1rem;
     padding-right: 1rem;
 }
 /* middle mobile view nav bar  */
 
 .Watch-mobile-bar {
     display: flex;
     column-gap: 2rem;
     margin-bottom: 2rem;
     /* overflow-x: auto; */
 }
 
 .mobile-bar-Watch-pages {
     display: flex;
     align-items: center;
     column-gap: .3rem;
     margin-top: 1rem;
     border: 1px solid darkgray;
     padding: 5px;
     border-radius: 30px;
     width: 143px;
     /* transition: ease-out 0.3s; */
     background: linear-gradient(to left, #fff 50%, #65a2df 50%) right;
     background-size: 200%;
     transition: all 0.3s ease-in-out;
 }
 
 .mobile-bar-Watch-pages:hover {
     background-position: left;
 }
 
 .mobile-bar-Watch-pages:hover strong {
     color: #fff;
 }
 
 .mobile_nav_name {
     white-space: nowrap;
 }
 /* middle part video  section  */
 
 .Watch-middle-section {
     width: 60%;
     margin: 0 auto;
     margin-top: 2rem;
 }
 
 .middle-Watch {
     background-color: ghostwhite;
     margin-bottom: 2rem;
     border-radius: 6px;
     box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 0px 4px 0 rgb(0 0 0 / 19%);
 }
 
 .video-content {
     display: flex;
     justify-content: space-between;
     padding: 1rem;
 }
 
 .video-profile {
     display: flex;
     align-items: flex-start;
     gap: 1rem;
 }
 
 .video-profile img {
     width: 50px;
     object-fit: cover;
     border-radius: 100%;
 }
 
 .video-profile a {
     text-decoration: none;
     color: black;
 }
 
 .video-profile a :hover {
     color: black;
     text-decoration: underline;
 }
 
 .video-copy-link a {
     color: black;
 }
 
 .Watch_pages_Name h6 {
     margin-block-end: 0;
 }
 
 .pages_post_time p {
     font-size: .9rem;
 }
 
 .video-copy-link a:hover {
     color: black;
 }
 
 .copy-icon {
     min-width: 2rem;
     min-height: 2rem;
 }
 
 .video-describe p {
     padding: 0rem .7rem;
 }
 /* video code js  */
 /* .video-js {
     width: 700px;
     height: 450px;
 }
  */
 
 .vjs-custom-theme .vjs-control-bar {
     background-color: transparent !important;
 }
 
 .vjs-custom-theme .vjs-big-play-button {
     opacity: 0 !important;
 }
 
 .vjs-custom-theme .vjs-volume-control {
     align-items: center !important;
 }
 
 .vjs-custom-theme .vjs-play-progress:before {
     top: -4px !important;
 }
 
 .vjs-custom-theme .vjs-fullscreen-control .vjs-icon-placeholder:before {
     line-height: 30px;
 }
 
 .vjs-custom-theme button:hover {
     color: #fff;
 }
 
 .vjs-custom-theme .vjs-progress-control .vjs-progress-holder {
     margin: 0 10px;
     background: rgba(255, 255, 255, 0.25);
     height: 1px;
 }
 
 .vjs-custom-theme .vjs-progress-control:hover .vjs-play-progress:before {
     top: -7px !important;
 }
 
 .vjs-custom-theme .vjs-control-bar {
     height: 54px;
     background: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     visibility: visible;
     opacity: 1;
     -webkit-transition: visibility 0.1s, opacity 0.1s;
     -o-transition: visibility 0.1s, opacity 0.1s;
     transition: visibility 0.1s, opacity 0.1s;
 }
 
 .vjs-custom-theme .vjs-volume-panel {
     -webkit-box-ordinal-group: 5;
     -ms-flex-order: 4;
     order: 4;
     display: flex;
     align-items: center;
 }
 
 .vjs-custom-theme .vjs-fullscreen-control {
     -webkit-box-ordinal-group: 5;
     -ms-flex-order: 5;
     order: 5;
 }
 
 .vjs-custom-theme .vjs-picture-in-picture-control,
 .vjs-custom-theme .vjs-remaining-time {
     display: none;
 }
 
 .vjs-custom-theme .vjs-play-control {
     width: 5em !important;
 }
 
 .vjs-custom-theme .vjs-play-control .vjs-icon-placeholder::before {
     font-size: 13px;
     letter-spacing: 0.16px;
     content: "Play" !important;
     font-family: sans-serif;
     line-height: 30px;
 }
 
 .vjs-custom-theme .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
     content: "Pause" !important;
     font-family: sans-serif;
 }
 /* like comment section  */
 
 .video-react {
     display: flex;
     justify-content: end;
     padding: 5px;
 }
 
 .video-comment {
     display: flex;
     font-size: .9rem;
     gap: 8px;
 }
 
 .video-view {
     display: flex;
     font-size: .9rem;
     gap: 5px;
 }
 /* comment section  */
 
 .express-button {
     display: flex;
     justify-content: space-between;
     margin-left: 1rem;
     margin-right: 1rem;
     margin-top: .4rem;
     font-size: .9rem;
 }
 
 .express-button button {
     background: none;
     border: 1px solid var(--gray-border);
 }
 
 .express-button1 {
     color: var(--blue-primary);
     border-radius: 4px;
     padding: 4px 4px;
 }
 
 .express-button2 {
     color: var(--danger-primary);
     border-radius: 4px;
     padding: 4px 10px;
 }
 
 .express-button3 {
     color: var(--green-primary);
     border-radius: 4px;
     padding: 4px 10px;
 }
 
 .commentsection_upperline {
     margin-block-start: 5px;
     margin-block-end: 0;
 }
 
 .Comentsectin_underline {
     margin-block-end: 0;
     margin-block-start: 5px;
 }
 
 .heart-icon {
     width: 1.5rem;
     height: 1.5rem;
 }
 
 .comment-section {
     display: flex;
     align-items: center;
     gap: .5rem;
     padding: .6rem;
 }
 
 .comment-post-pic img {
     width: 30px;
     height: 30px;
     border-radius: 100%;
     object-fit: cover;
 }
 
 .comment-input {
     width: 100%;
     border: 1px solid lightgray;
     padding: 3px 10px;
     border-radius: 6px;
     outline: none;
     height: 36px;
 }
 
 .comment-icon {
     width: 1.5rem;
     height: 1.5rem;
 }
 /* responsive view midea query  */
 
 @media screen and (min-width: 1100px) {
     .Watch-mobile-bar {
         visibility: hidden;
         display: none;
         margin-top: -2rem;
     }
 }
 
 @media screen and (max-width: 1099px) {
     .main {
         display: grid;
         grid-template-columns: 100%;
         padding-left: 0rem;
         padding-right: 0rem;
     }
     .Watch-side {
         visibility: hidden;
         display: none;
     }
     .Create-invites h4 {
         display: none;
     }
     .Watch-middle-section {
         width: 100%;
         margin: 0 auto;
         margin-top: 0px;
     }
 }
 
 @media screen and (max-width: 492px) {
     .Watch-mobile-bar {
         display: flex;
         column-gap: 1rem;
         margin-bottom: 2rem;
         overflow-x: auto;
     }
     .pages-icon {
         min-width: 1rem;
         min-height: 1rem;
     }
     .modify-icon {
         min-width: 1rem;
         min-height: 1rem;
     }
     .mobile-bar-Watch-pages {
         display: flex;
         align-items: center;
         border: 1px solid darkgray;
         padding: 5px;
         border-radius: 30px;
         width: 110px;
         transition: ease-out 0.3s;
         background: linear-gradient(to left, #fff 50%, #65a2df 50%) right;
         background-size: auto;
         background-size: 200%;
         transition: all 0.3s ease-in-out;
         font-size: .9rem;
     }
 }
 
 @media screen and (max-width: 362px) {
     .Watch-mobile-bar {
         display: flex;
         column-gap: .5rem;
         margin-bottom: 2rem;
         overflow-x: auto;
     }
     .pages-icon {
         min-width: 1rem;
         min-height: 1rem;
     }
     .modify-icon {
         min-width: 1rem;
         min-height: 1rem;
     }
     .mobile-bar-Watch-pages {
         display: flex;
         align-items: center;
         border: 1px solid darkgray;
         padding: 5px;
         border-radius: 30px;
         width: 110px;
         transition: ease-out 0.3s;
         background: linear-gradient(to left, #fff 50%, #65a2df 50%) right;
         background-size: auto;
         background-size: 200%;
         transition: all 0.3s ease-in-out;
         font-size: .8rem;
     }
 }
 
 @media screen and (max-width:346px) {
     .Watch-middle-section {
         margin: 0 auto;
         margin-top: 0px;
         margin-left: 0;
     }
 }