.Pagelist_main_content {
    display: grid;
    grid-template-columns: [first] 26% [second] auto [end];
    padding-left: 1rem;
    padding-right: 1rem;
}


/* middle section  */

.page-manage {
    margin-bottom: 1rem;
}

.middle-section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 2rem;
}

.middle-box {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 0px 4px 0 rgb(0 0 0 / 19%);
    width: 100%;
    height: 40%;
    /* position: relative; */
    border-radius: 5px;
    margin-bottom: 1rem;
}

#notifytext {
    /* position: absolute; */
    right: 10px;
    margin-top: 1rem;
}

.notify {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.notify p {
    font-size: 12px;
    font-weight: 500;
}

.notification {
    display: flex;
    /* align-items: end; */
}

.message {
    display: flex;
    /* align-items: end; */
}


/* pages name  */

.page-name {
    display: flex;
    align-items: center;
    /* position: absolute; */
    top: 2rem;
    left: 2rem;
    column-gap: 1rem;
    padding: 0px 0px 40px 30px;
}


/* .page-name {
    word-wrap: break-word;
}

.card-invite {
    display: flex;
    align-items: baseline;
} */

.pagelist_page_name {
    margin-block-end: 0;
}

.page-name h6 {
    font-weight: bold;
}

.page-img {
    width: 4rem;
}

.page-designation h5 {
    font-weight: bold;
}

.Pageactive {
    position: absolute;
    bottom: 12px;
    right: 25rem;
}

.Pageactive p {
    font-size: 12px;
    font-weight: 500;
}

.pagelist_activity {
    font-size: .9rem;
}


/* midea quary  */

@media screen and (max-width: 1099px) {
    .middle-section {
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        margin-top: 2rem;
    }
    .Pagelist_main_content {
        display: grid;
        grid-template-columns: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width:767px) {
    .notify {
        visibility: hidden;
    }
    .middle-section {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 2rem;
    }
}