.main-like-section {
    display: grid;
    grid-template-columns: [first] 26% [line2] auto [end];
    padding-right: 1rem;
    padding-left: 1rem;
}

.pages_heading {
    margin-top: 2rem;
}

.likepage-middle-part {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Pages-card section start */

.like-meme-card {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    column-gap: 1rem;
    row-gap: .5rem;
    margin-top: 1rem;
}

.like-card-memes {
    width: 15rem !important;
    border-radius: 10px !important;
}

.like-meme-card img {
    width: 239px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
}

.like-meme-name {
    display: flex;
    column-gap: .5rem;
}

.like-meme-name img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.Like_page_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 11rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

.Like_count_total {
    font-size: .9rem;
}

.button-like {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light) !important;
    border: 1px solid #0d6efd !important;
    color: #0d6efd !important;
    font-weight: 700 !important;
    border-radius: 20px !important;
}

.like-iconify {
    min-width: 1.2rem;
    min-height: 1.2rem;
}


/* pages-card section end  */


/* mobile view nav bar start  */

.like-mobile-bar {
    display: flex;
    column-gap: 2rem;
    overflow-x: auto;
}

.mobile-bar-like-pages {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    margin-top: 1rem;
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 30px;
    width: 143px;
    /* transition: ease-out 0.3s; */
    background: linear-gradient(to left, #fff 50%, #65a2df 50%) right;
    background-size: 200%;
    transition: all 0.3s ease-in-out;
}

.mobile-bar-like-pages:hover {
    background-position: left;
}

.mobile-bar-like-pages:hover strong {
    color: #fff;
}

.mobile-bar-icon {
    white-space: nowrap;
    font-size: .8rem;
}


/* mobile view nav bar end */


/* midea query  */

@media screen and (max-width:1099px) {
    .main-like-section {
        display: grid;
        grid-template-columns: 100%;
    }
    .pages_heading {
        margin-top: 1rem;
    }
}

@media screen and (min-width:1099px) {
    .like-mobile-bar {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .like-meme-card {
        justify-content: center;
    }
}


/* media query end  */