/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
  font-family: var(--poppins);
}

:root {
  /* Colors */
  --bg-light: #F0F2F5;
  --bg-dark: #18191A;
  --white-primary: #fff;
  --black-primary: #000;
  --dark-gray: #65676b;
  --less-dark-gray: #606770;
  --primary-color: #426bb1;
  --blue-primary: #0d6efd;
  --green-primary: #198754;
  /* Fonts */
  --poppins: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-light);
}