/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
  font-family: var(--raleway);
}

:root {
  /* Colors */
  --bg-light: #f0f2f5;
  --bg-dark: #18191a;
  --highlight-gray: #e4e6e8;
  --white-primary: #fff;
  --dark-primary: #333;
  --dark-gray: #65676b;
  --less-dark-gray: #606770;
  --gray-border: #CED0D4;
  --primary-color: #426bb1;
  --less-primary-color: #D7E4F2;
  --blue-primary: #0d6efd;
  --green-primary: #198754;
  --danger-primary: #dc3545;
  /* Fonts */
  --raleway: 'Raleway', sans-serif;
}

a {
  color: var(--dark-primary) !important;
}

body {
  background-color: var(--bg-light);
}
